<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="cupriface" value="https://nuget.pkg.github.com/Wixely/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <cupriface>
      <add key="Username" value="%CUPRIFACE_GITHUB_USER%" />
      <add key="ClearTextPassword" value="%CUPRIFACE_GITHUB_TOKEN%" />
    </cupriface>
  </packageSourceCredentials>
</configuration>
